* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #d9ddde;
}

.container {
  max-width: 1000px;
  margin: 20px auto;
  padding: 10px;

}

.card {
  display: flex;
  background: #f2f4f5;
  margin-bottom: 15px;
  border-radius: 6px;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.46);
  padding: 10px;

}

.img-block {
  max-width: 25%;
}

.text-block {
  margin-left: 15px;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.description-block {
  margin-top: 5px;
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.title {
 color: #2f56e0
}


.like-btn {
  padding: 5px 20px;
  background: #d8e2e5;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: auto;
  align-self: flex-start;


}

.like-btn.liked {
  background: #28e525;
}

.left-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 10px;
}

.right-block {
  margin-right: 15px;
}

.text-title {
  margin-bottom: 10px;
  font-weight: 500;
}

@media (max-width: 800px) {
  .card {
    flex-direction: column;
  }

  .img-block {
    max-width: 100%;
    order: 2;
    margin-top: 10px;
  }

  .text-block {
    width: 100%;
  }

  .description-block {
    width: 100%;
  }

  .like-btn {
    order: 3;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .right-block {
    margin-right: 20px;
  }

}
